:root{
    --textColor: #222;
}

body{
    background-color: white;
    font-family: Helvetica, sans-serif;;
}

.topHeader{
    text-align: center;
    color: var(--textColor);
    margin-top: 2rem;
}

.topSubHeader{
    text-align: center;
    font-size: 1rem;
    color: var(--textColor);
    margin: 1rem 0;
}

.headlineNumbers{
    /* background-color: rgb(44, 44, 44); */
    color: var(--textColor);
    text-align: center;
    border-radius: 10px;
    margin: 1rem 0;
    /* padding: 0.5rem 0.5rem; */
}

.dataLabels{
    font-size: 0.8rem;
    margin-bottom: 0;
}

.numbers{
    justify-content: space-evenly;
    margin: 2rem 0;
}

.dailyUpdate {
    display: block;
    font-size: 1rem;
    font-weight: bold;
}

.dailyCard{
    margin: 2.5rem 0;
}

.yearlyCard{
    height: 100%;
}

.chartRow{
    justify-content: center;
    align-content: center;
    margin: 4rem 0;
}

.subHeader{
    color: var(--textColor);
    text-align: center;
    font-size: 1.5rem;
}

.yearlyContainer{
    margin-bottom: 2rem;
}

.footerNotes{
    text-align: center;
    color: var(--textColor);
    justify-content: center;
    margin: 1rem 0;
    
}

.footerText{
    font-size: 1rem;
}